# Western Australia Rental Prices - ETL-12

https://www.kaggle.com/c/deloitte-western-australia-rental-prices/

In [1]:
# imports
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from __future__ import division
from sklearn import preprocessing
%matplotlib inline

In [2]:
# settings and constants
%logstop
%logstart  -o 'ETL12' rotate
plt.rcParams['figure.figsize'] = (10.0, 8.0)
pd.set_option('display.max_rows', 50)
start_time = pd.datetime.now()
print start_time

Logging hadn't been started.
Activating auto-logging. Current session state plus future input saved.
Filename       : ETL12
Mode           : rotate
Output logging : True
Raw input log  : False
Timestamping   : False
State          : active
2015-11-20 22:27:53.047139

# EXPORT

In [3]:
train = pd.read_csv('data/train_fix.csv', low_memory=False)
print train.shape

(834570, 5)

In [4]:
train.columns = map(str.lower, train.columns)
train.set_index('ren_id', inplace=True)
train.ren_date_eff_from = pd.to_datetime(train.ren_date_eff_from)
train[:2]

        ren_date_eff_from  ren_base_rent  ve_number ren_lease_length
ren_id
1579258        1990-02-13            280    4807702              NaN
1203979        1990-04-13            115     332135              NaN

In [5]:
#train = pd.read_csv('data/train.csv', low_memory=False)
test = pd.read_csv('data/test_fix.csv', low_memory=False)
print test.shape

(150508, 4)

In [6]:
test.columns = map(str.lower, test.columns)
test.set_index('ren_id', inplace=True)
test.ren_date_eff_from = pd.to_datetime(test.ren_date_eff_from)
test[:2]

       ren_date_eff_from  ve_number ren_lease_length
ren_id
10568         2004-02-18    2402939              NaN
12686         2004-02-18    1352438              NaN

In [7]:
# based on Mac with Postgres.app
# export PATH="/Applications/Postgres.app/Contents/Versions/9.4/bin:$PATH"
# then pip install psycopg2
# then sudo brew install openssl
# and follow these instructions:
# http://stackoverflow.com/questions/11365619/psycopg2-installation-error-library-not-loaded-libssl-dylib

from sqlalchemy import create_engine
engine = create_engine('postgresql://paulperry:ciao,ciao@localhost:5432/australia', 
                       connect_args={'client_encoding': 'latin1'})

## Quantity Features

In [8]:
# get all the quantities 

# I'm cleaning up the dupes in python
qp1 = "select t1.ren_id, t1.ve_number, t2.urv_id, t1.ren_date_eff_from, t2.uvv_quantity from " # query part 1
qp2 = " t1 left join valuation_entities_details t2 \
    on (t1.ve_number = t2.ve_number and t1.ren_date_eff_from > t2.uvv_date_eff_from ) \
    left join valuation_entities_details t3 \
    on (t2.ve_number = t3.ve_number and t2.urv_id = t3.urv_id and t2.urv_date_eff_from < t3.urv_date_eff_from) \
    left join valuation_entities_details t4 \
    on (t3.ve_number = t4.ve_number and t3.urv_id = t4.urv_id and t3.uvv_quantity < t4.uvv_quantity) \
    where t2.urv_ven_quality_ind like 'N' and t2.urv_ven_quantity_ind like 'Y' and t2.uvv_quantity > 0 \
    and t4.urv_date_eff_from is null and t4.uvv_quantity is null "
qp3 = " order by ren_id, ve_number, urv_id, ren_date_eff_from, uvv_quantity desc;"

fullq = qp1+'train'+qp2+' union all '+qp1+'test'+qp2+qp3

%time ve_quantity = pd.read_sql_query(fullq, engine)

CPU times: user 20.9 s, sys: 3.5 s, total: 24.4 s
Wall time: 3min 42s

In [9]:
print ve_quantity.shape
ve_quantity[:5]

(7918201, 5)

   ren_id  ve_number  urv_id ren_date_eff_from  uvv_quantity
0       6    4485377       4        2011-07-07             1
1       6    4485377      19        2011-07-07           217
2       6    4485377      57        2011-07-07             1
3       6    4485377      58        2011-07-07             4
4       6    4485377     201        2011-07-07             1

In [10]:
# the sql query has duplicates (you go wrestle with that query!), so we delete them here.
print ve_quantity.shape
ve_quantity.drop_duplicates(['ren_id','ve_number','urv_id'], keep='first', inplace=True) 
print ve_quantity.shape

(7918201, 5)
(7692331, 5)

In [11]:
quantity_features = pd.pivot(ve_quantity.ren_id, ve_quantity.urv_id, ve_quantity.uvv_quantity)
quantity_features.iloc[:5]

/Users/paulperry/anaconda/lib/python2.7/site-packages/pandas/core/index.py:4281: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return np.sum(name == np.asarray(self.names)) > 1

urv_id,4,5,19,20,21,22,23,24,25,26,...,405,413,431,434,440,441,443,444,477,479
ren_id,,,,,,,,,,,,,,,,,,,,,
6,1,NaN,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN
9,NaN,NaN,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
13,NaN,NaN,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1,NaN,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# stop if somehow we messed up the pivot
if len(quantity_features.index) > (len(train.index)+len(test.index)):
    raise Exception('bad pivot')

In [13]:
# load the valuation entity keys
ve_key = pd.read_csv('ve_key.csv')
ve_key.set_index('urv_id', inplace=True)
ve_key[:5]

        urv_description urv_ven_quality_ind urv_ven_quantity_ind        c
urv_id
206     EFFECTIVE ROOMS                   N                    Y  1034318
58             BEDROOMS                   N                    Y   924250
410          YEAR BUILT                   Y                    N   923596
271             KITCHEN                   N                    Y   858940
89         BRICK  WALLS                   N                    N   789499

In [14]:
# # or generate the keys if we don't have the file
# q_key ="select urv_id, urv_description, urv_ven_quality_ind, urv_ven_quantity_ind, count(*) as c \
#     from valuation_entities_details \
#     group by urv_id, urv_description, urv_ven_quality_ind, urv_ven_quantity_ind \
#     order by c desc;"

# ve_key = pd.read_sql_query(q_key, engine)
# ve_key.to_csv('ve_key.csv', index=False)
# print len(ve_key.index)
# ve_key.iloc[:10]

In [15]:
def rename_columns(df):
    # map columns to ve_key names
    col_names = [ve_key.loc[i].urv_description.lower().replace(' ','_').replace('-','_') 
                 for i in df.columns]
    col_names = [s.encode('ascii','ignore') for s in col_names]
    col_names = [c.translate(None,".()&?!;$/\\,") for c in col_names]
    if len(col_names) == len(df.columns):
        df.columns = col_names
    else:
        raise Exception('Problem renaming columns!') 

    return df

In [16]:
# # map the pivot columns to ve_key names
# col_names = [ve_key.loc[i].urv_description.lower().replace(' ','_').replace('-','_') 
#              for i in quantity_features.columns]
# col_names = [s.encode('ascii','ignore') for s in col_names]
# col_names = [c.translate(None,".()&?!;$/\\,") for c in col_names]

In [17]:
quantity_features = rename_columns(quantity_features)
print quantity_features.columns

Index([u'activity_room', u'airconditioned', u'house_area', u'office_area_1',
       u'shop_area', u'showroom_area', u'store_room_area_1',
       u'warehouse_area_1', u'factory_area_1', u'any_other_area',
       u'basement_area', u'shed_area_1', u'total_area', u'mezzanine_area',
       u'workshop_area_1', u'bar', u'bath_room', u'bedrooms',
       u'single_bedrooms', u'carbay_under_cover', u'tandem_carbay',
       u'open_car_bay', u'carport_under_main_roof', u'carport_attached',
       u'carport_detached', u'dining_room', u'dressing_room',
       u'effective_rooms', u'ensuite', u'excess_land', u'family_room',
       u'frontage_of_block', u'fronts_onto_lake', u'games__room',
       u'detached_gamesroom', u'garage_under_main_roof', u'garage_attached',
       u'garage_detached', u'guest_room', u'kennels', u'kitchen', u'laundry',
       u'lounge_room', u'meals_area', u'music_room', u'other_rooms',
       u'plate_height', u'parents__retreat', u'sleep_out', u'sewing_room',
       u'shed', u'sitting_room', u'spa_room', u'stable', u'store_room',
       u'storey', u'studio', u'study', u'sun_room', u'television_room',
       u'tennis_court', u'number_of_units', u'toilet', u'walk_in_robe',
       u'workshop', u'effective_bed_count', u'ven_land_area', u'theatre_room',
       u'hall_area', u'jetty', u'alfresco_room', u'kitchenette',
       u'area_of_sheds', u'scullery'],
      dtype='object')

In [18]:
print quantity_features.shape

(980588, 74)

In [19]:
# select only the columns that have enough values to be useful
quantity_counts = quantity_features.count().sort_values(ascending=False)
good_quantity = quantity_counts[quantity_counts > 50]
print len(quantity_features.columns)
print len(good_quantity.index)

74
62

In [20]:
good_quantity.sort_values(ascending=False)

bedrooms                   945838
effective_rooms            864488
kitchen                    832704
lounge_room                766598
house_area                 706986
dining_room                528530
bath_room                  347549
toilet                     313250
family_room                298344
ensuite                    280293
carport_under_main_roof    226453
storey                     215556
walk_in_robe               201285
garage_under_main_roof     169524
meals_area                 161487
carport_detached           113227
store_room                 103240
games__room                 93888
carport_attached            87182
garage_detached             74832
study                       66130
alfresco_room               44689
garage_attached             33619
effective_bed_count         32176
theatre_room                30767
                            ...
airconditioned               1864
tennis_court                 1762
spa_room                     1701
studio                       1559
shed_area_1                  1427
excess_land                   998
sun_room                      855
bar                           838
total_area                    704
stable                        475
sewing_room                   344
dressing_room                 279
office_area_1                 272
music_room                    272
shop_area                     216
television_room               212
laundry                       179
detached_gamesroom            157
guest_room                    154
store_room_area_1             150
jetty                          99
tandem_carbay                  91
workshop_area_1                89
area_of_sheds                  86
kitchenette                    82
dtype: int64

In [21]:
# throw out the low count features
quantity_features = quantity_features[good_quantity.index]
print quantity_features.shape

(980588, 62)

In [22]:
quantity_features.bedrooms.value_counts()

3.0      326924
2.0      300573
4.0      164452
1.0      141726
5.0        8623
6.0        3283
7.0         194
8.0          20
9.0          14
10.0          7
3.5           4
14.0          3
6.5           3
9.5           3
5.5           3
121.0         2
10.5          2
7.5           1
12.0          1
Name: bedrooms, dtype: int64

In [23]:
# arbirtrarily cut off the high end to avoid that 121 value
quantity_features.loc[quantity_features.bedrooms > 10,'bedrooms'] = 10

In [24]:
quantity_features.effective_rooms.value_counts()[:10]

4.5     98616
5.5     96795
4.0     86423
6.0     76870
5.0     69563
6.5     56976
7.0     50125
3.5     45379
3.0     42303
8.0     40151
9.0     35000
7.5     31572
8.5     30942
9.5     23056
2.0     20595
2.5     18851
10.0    15945
Name: effective_rooms, dtype: int64

In [25]:
# effective_rooms has too many nan's. let's try to recreate the effective_rooms
quantity_features.effective_rooms.isnull().sum()

116100

In [26]:
quantity_features.columns.values

array(['bedrooms', 'effective_rooms', 'kitchen', 'lounge_room',
       'house_area', 'dining_room', 'bath_room', 'toilet', 'family_room',
       'ensuite', 'carport_under_main_roof', 'storey', 'walk_in_robe',
       'garage_under_main_roof', 'meals_area', 'carport_detached',
       'store_room', 'games__room', 'carport_attached', 'garage_detached',
       'study', 'alfresco_room', 'garage_attached', 'effective_bed_count',
       'theatre_room', 'sleep_out', 'frontage_of_block', 'any_other_area',
       'other_rooms', 'carbay_under_cover', 'activity_room',
       'parents__retreat', 'number_of_units', 'sitting_room', 'shed',
       'open_car_bay', 'workshop', 'airconditioned', 'tennis_court',
       'spa_room', 'studio', 'shed_area_1', 'excess_land', 'sun_room',
       'bar', 'total_area', 'stable', 'sewing_room', 'dressing_room',
       'office_area_1', 'music_room', 'shop_area', 'television_room',
       'laundry', 'detached_gamesroom', 'guest_room', 'store_room_area_1',
       'jetty', 'tandem_carbay', 'workshop_area_1', 'area_of_sheds',
       'kitchenette'], dtype=object)

In [27]:
# these are all the room types
all_rooms = ['bedrooms', 'kitchen', 'lounge_room','dining_room', 'bath_room', 'family_room', 'meals_area', 
             'kitchenette', 'store_room', 'games__room', 'study', 'theatre_room', 'sleep_out', 
             'other_rooms',  'activity_room', 'sitting_room',  'spa_room', 'studio', 'sun_room',
             'bar', 'sewing_room', 'dressing_room',  'music_room', 'television_room',
             'laundry', 'detached_gamesroom', 'guest_room']

# possible rooms we rejected
# 'walk_in_robe', 'ensuite', 'workshop', 'alfresco_room',  'parents__retreat',
# 'any_other_area', 'office_area_1', 'shop_area', 'workshop_area_1', 'store_room_area_1',

In [28]:
# if the room count per feature is too high, then we assume they must be tracking sqm instead, 
# so we cut these #'s down to 1 for counting purposes
room_counts = quantity_features[all_rooms].copy()
room_counts[room_counts > 10] = 1

In [29]:
total_rooms = room_counts.sum(axis=1)
total_rooms.describe()

count    950180.000000
mean          6.075248
std           2.743121
min           1.000000
25%           4.000000
50%           6.000000
75%           8.000000
max          32.000000
dtype: float64

In [30]:
# these top 30 look suspect, and maybe should be eliminated
total_rooms.sort_values(ascending=False)[:30]

ren_id
496504     32
54828      32
4644269    32
2186391    28
2284612    27
1246097    27
2464813    26
2777228    26
3313116    25
2103700    25
203170     25
2030509    25
4953486    25
61850      25
312003     24
1124602    24
3338451    24
2216279    23
1205244    23
5027368    23
5020180    23
5088701    23
5222356    23
3609728    23
1254630    23
5187025    23
5141530    22
3763028    22
2213838    22
471602     22
dtype: float64

In [31]:
# for example, this has 4.0 repeated in too many places ...
quantity_features.loc[496504][:20]

bedrooms                     4.0
effective_rooms              9.5
kitchen                      4.0
lounge_room                  4.0
house_area                 135.0
dining_room                  4.0
bath_room                    4.0
toilet                       2.0
family_room                  4.0
ensuite                      4.0
carport_under_main_roof      1.0
storey                       NaN
walk_in_robe                 1.0
garage_under_main_roof       NaN
meals_area                   4.0
carport_detached             NaN
store_room                   NaN
games__room                  4.0
carport_attached             NaN
garage_detached              NaN
Name: 496504, dtype: float64

In [32]:
quantity_features.loc[quantity_features.effective_rooms.isnull(),'effective_rooms'] = total_rooms

In [33]:
# let's see if we fixed the effective_rooms count
quantity_features.effective_rooms.isnull().sum()

2090

In [34]:
# not sure what to do with these ...
len(quantity_features[quantity_features.number_of_units > 1].index)

5186

In [35]:
# we are anchored on the fact that a rental either has bedrooms or effective rooms, and if not, we consider it bogus
print 'total: ', quantity_features.shape
print 'null bedrooms: ',quantity_features.bedrooms.isnull().sum()
print 'null bed and effective rooms: ', len(quantity_features[quantity_features.bedrooms.isnull() & 
                  quantity_features.effective_rooms.isnull()].index)
print 'null bed and effective rooms in test set: ', quantity_features[quantity_features.bedrooms.isnull() & 
                  quantity_features.effective_rooms.isnull()].index.isin(test.index).sum()

total:  (980588, 62)
null bedrooms:  34750
null bed and effective rooms:  2090
null bed and effective rooms in test set:  32

In [36]:
# let's drop the bogus rentals from the train set
bad_rooms = quantity_features[quantity_features.bedrooms.isnull() & quantity_features.effective_rooms.isnull()]
bad_train_rooms = bad_rooms[bad_rooms.index.isin(train.index)]
print bad_train_rooms.shape

(2058, 62)

In [37]:
# make sure we have as many effective_rooms as bedrooms
print len(quantity_features[quantity_features.effective_rooms < quantity_features.bedrooms])
quantity_features.loc[quantity_features.effective_rooms < quantity_features.bedrooms,'effective_rooms'] = \
    quantity_features[quantity_features.effective_rooms < quantity_features.bedrooms].bedrooms + 2
print len(quantity_features[quantity_features.effective_rooms < quantity_features.bedrooms])

106
0

In [38]:
# look at kitchen values
quantity_features.kitchen.value_counts()

1.0     829567
2.0       3007
4.0         53
3.0         40
1.5         21
11.0         6
7.0          5
12.0         2
6.0          2
10.0         1
Name: kitchen, dtype: int64

In [39]:
# fix all the rows with more than 4 kitchens ! 
quantity_features.loc[quantity_features.kitchen > 5,'kitchen'] = 4

In [40]:
quantity_features.lounge_room.value_counts()

1.0     763353
2.0       3104
3.0         69
4.0         55
11.0         7
1.5          5
13.0         3
21.0         2
Name: lounge_room, dtype: int64

In [41]:
# fix all the rows with more than 4 lounge rooms ! 
quantity_features.loc[quantity_features.lounge_room > 5,'lounge_room'] = 4.0

In [42]:
# make sure we have as many effective_bed_count as bedrooms
print 'lower count: ', len(quantity_features[quantity_features.effective_bed_count < quantity_features.bedrooms])
# but we found that these numbers seem reasonable so we don't touch them
#quantity_features[quantity_features.effective_bed_count < quantity_features.bedrooms][['bedrooms','effective_bed_count']].sort_values(by='effective_bed_count', ascending=False)
print 'null bed count: ', quantity_features.effective_bed_count.isnull().sum()
quantity_features.loc[quantity_features.effective_bed_count.isnull(),'effective_bed_count'] = quantity_features.bedrooms
print 'remaining null bed count: ', quantity_features.effective_bed_count.isnull().sum()

lower count:  1453
null bed count:  948412
remaining null bed count:  10717

In [43]:
# make sure we have as many effective_rooms as effective_bed_count
print len(quantity_features[quantity_features.effective_rooms < quantity_features.effective_bed_count])
#quantity_features[quantity_features.effective_rooms < quantity_features.effective_bed_count][['bedrooms','effective_rooms', 'effective_bed_count']].sort_values(by='effective_bed_count', ascending=True)
# but we found that these numbers seem reasonable so we don't touch them

2

In [44]:
# quantity_features[quantity_features.effective_rooms > 35].effective_rooms.sort_values(ascending=False)
print 'high effective_rooms: ', (quantity_features.effective_rooms > 32).sum()

high effective_rooms:  135

In [45]:
# arbirtrarily cut off the high end
quantity_features.loc[quantity_features.effective_rooms > 32,'effective_rooms'] = 32

In [46]:
# total area is not useful
quantity_features[quantity_features.total_area.notnull()].total_area.count()

704

In [47]:
# i'm not sure I'll look at this:
# quantity_features[quantity_features.effective_rooms != total_rooms].effective_rooms

In [48]:
# now we can inpute the reset of the missing values 
quantity_features = quantity_features.fillna(0)

In [49]:
df = quantity_features
for c in df.columns:
    valcnt = len(df[c].unique())
    vals = df[c].unique()[:9]
    print c, valcnt, vals

bedrooms 16 [ 4.  3.  2.  1.  0.  6.  5.  7.  8.]
effective_rooms 98 [ 11.    7.    4.5   6.5   6.    9.5   2.5   9.   10. ]
kitchen 6 [ 1.   0.   2.   4.   3.   1.5]
lounge_room 6 [ 0.   1.   2.   4.   3.   1.5]
house_area 12076 [ 217.   119.    73.   120.    78.   114.     0.    45.   140.9]
dining_room 7 [  1.   0.   2.   4.   3.   5.  68.]
bath_room 10 [  1.    0.    3.    2.    5.    4.    1.5   6.   11. ]
toilet 12 [  2.   0.   1.   3.   5.   4.  21.   6.   7.]
family_room 10 [  1.    0.    2.    4.    1.5   3.    5.   11.    7. ]
ensuite 12 [  1.    0.    3.    2.    4.    6.    5.    1.5  11. ]
carport_under_main_roof 11 [  0.   1.   2.   3.   4.  91.  20.   5.  25.]
storey 23 [ 1.25  0.    2.    1.    3.    1.5   4.    5.    1.2 ]
walk_in_robe 10 [  4.   1.   0.   2.   3.   5.   6.  11.  23.]
garage_under_main_roof 12 [  2.   0.   1.   3.   4.  12.   5.  22.   8.]
meals_area 5 [ 0.  1.  2.  4.  3.]
carport_detached 16 [  0.   1.   2.   6.   3.   5.  16.   7.   4.]
store_room 10 [  0.     1.     2.     3.     5.     1.5    0.5   13.    12.25]
games__room 8 [  0.    1.    2.    4.    3.    1.5   7.   11. ]
carport_attached 9 [  0.   1.   2.   3.  11.  10.   7.   4.   5.]
garage_detached 11 [  0.   1.   2.   3.   4.   5.   6.  30.   9.]
study 6 [ 1.   0.   2.   3.   4.   0.5]
alfresco_room 7 [  1.   0.   2.   4.  31.   3.  12.]
garage_attached 7 [  0.   1.   2.   3.   8.   4.  10.]
effective_bed_count 15 [ 4.  3.  2.  1.  6.  0.  5.  7.  8.]
theatre_room 4 [ 1.   0.   2.   1.5]
sleep_out 8 [ 0.  1.  2.  5.  4.  3.  7.  6.]
frontage_of_block 1364 [  0.    18.    20.48  20.12  18.61  34.41  10.06  13.4   16.  ]
any_other_area 154 [   0.    41.    64.   220.   130.    61.6   68.    48.    22.8]
other_rooms 12 [  0.    1.    2.    5.    2.5  32.    3.    4.    6. ]
carbay_under_cover 8 [  0.   1.   2.  72.   3.   4.  11.   5.]
activity_room 3 [ 1.  0.  2.]
parents__retreat 3 [ 1.  0.  2.]
number_of_units 32 [  0.   2.   4.   8.  12.   3.  11.  10.   5.]
sitting_room 5 [   0.     1.     2.     1.5  167. ]
shed 24 [  0.   1.   2.   3.   5.  18.   4.  40.   7.]
open_car_bay 7 [  0.   1.   2.  30.   5.   8.   6.]
workshop 7 [   0.      1.      2.     22.58  101.    135.     60.  ]
airconditioned 6 [ 0.  1.  2.  3.  6.  5.]
tennis_court 2 [ 0.  1.]
spa_room 3 [ 0.  1.  2.]
studio 3 [ 0.   1.   1.5]
shed_area_1 196 [   0.     36.     72.     14.6    54.    198.     46.2    90.     56.12]
excess_land 24 [ 0.   2.   1.   4.   3.   6.   0.4  7.   2.5]
sun_room 4 [ 0.   1.   2.   0.5]
bar 3 [ 0.  1.  2.]
total_area 29 [   0.   96.   73.   85.   88.   95.  100.  212.  146.]
stable 20 [  0.   2.   4.   3.   8.   1.   5.  10.   9.]
sewing_room 2 [ 0.  1.]
dressing_room 3 [ 0.  1.  2.]
office_area_1 67 [   0.  135.  110.    1.  120.   35.  139.  150.   47.]
music_room 2 [ 0.  1.]
shop_area 27 [   0.   32.   81.   38.   90.   40.   96.   68.  150.]
television_room 2 [ 0.  1.]
laundry 3 [ 0.  1.  2.]
detached_gamesroom 4 [ 0.   1.   2.   1.5]
guest_room 2 [ 0.  1.]
store_room_area_1 20 [   0.    4.    3.    1.    2.    5.  290.   45.   22.]
jetty 3 [ 0.  1.  5.]
tandem_carbay 5 [  0.   1.   2.   8.  19.]
workshop_area_1 40 [   0.   60.   17.  169.   50.   99.  108.  214.  104.]
area_of_sheds 51 [  0.  72.  38.  30.  54.  25.  32.  74.  90.]
kitchenette 2 [ 0.  1.]

# Quality Features

In [50]:
# get all the qualities 

qq1 = "select t1.ren_id, t1.ve_number, t2.urv_id, t1.ren_date_eff_from, t2.uvv_quality from "
qq2 = " t1 left join valuation_entities_details t2 \
    on (t1.ve_number = t2.ve_number and t1.ren_date_eff_from > t2.uvv_date_eff_from ) \
    left join valuation_entities_details t3 \
    on (t2.ve_number = t3.ve_number and t2.urv_id = t3.urv_id and t2.urv_date_eff_from < t3.urv_date_eff_from) \
    where t2.urv_ven_quality_ind like 'Y' and t2.urv_ven_quantity_ind like 'N' and t2.uvv_quality <> '' \
    and t3.urv_date_eff_from is null "
qq3 =  "order by ren_id, ve_number, urv_id, ren_date_eff_from, uvv_quality desc;"

fullqq = qq1+' train '+qq2+' union all '+qq1+' test '+qq2+qq3

%time ve_quality = pd.read_sql_query(fullqq, engine)
print len(ve_quality.index)

CPU times: user 4.24 s, sys: 237 ms, total: 4.48 s
Wall time: 1min 18s
1523314

In [ ]:
print len(ve_quality.index)
ve_quality.drop_duplicates(['ren_id','ve_number','urv_id'], keep='first', inplace=True)
print len(ve_quality.index)

In [ ]:
ve_quality[:5]

In [ ]:
quality_features = ve_quality.pivot('ren_id', 'urv_id', 'uvv_quality')
quality_features.iloc[:5]

In [ ]:
# col_names = [ve_key[ve_key.urv_id == i].urv_description.lower().replace(' ','_').replace('-','_')
#             for i in quality_features.columns]
# col_names = [s.encode('ascii','ignore') for s in col_names]
# col_names = [c.translate(None,".()&?!;$/\\,") for c in col_names]
# col_names

In [ ]:
quality_features = rename_columns(quality_features)
print quality_features.columns

In [ ]:
quality_features.condition.unique()

In [ ]:
quality_features.condition.value_counts()

In [ ]:
# Just grab the first letter as the indicator
quality_features['condition'] = [str(x)[0].upper() if len(str(x)) > 0 else x for x in quality_features.condition]

In [ ]:
quality_features.condition.value_counts()

In [ ]:
# Make some guesses to condense further
quality_features.loc[quality_features.condition == 'V','condition'] = 'G' # Very Good = Good
quality_features.loc[quality_features.condition == 'E','condition'] = 'N' # Excellent = New
quality_features.loc[quality_features.condition == 'O','condition'] = 'F' # Ok = Fair
quality_features.loc[quality_features.condition == '' ,'condition'] = 'G' # Blank = Good
quality_features.condition.value_counts()

In [ ]:
# grab the top qualities
top_qualities = quality_features.condition.value_counts()[quality_features.condition.value_counts() > 100]
top_qualities.index

In [ ]:
# keep the top quality features and null out the rest
quality_features['condition'] = [x if x in top_qualities.index else NaN for x in quality_features.condition]

In [ ]:
quality_features.condition.value_counts()

In [ ]:
# impute condition with 'Good'
quality_features.loc[:,'condition'] = quality_features.condition.fillna('G')

In [ ]:
quality_features.year_built.value_counts(ascending=True)[20:]

In [ ]:
quality_features.year_built.unique()

In [ ]:
quality_features.year_effective.value_counts()

In [ ]:
quality_features.year_effective.unique()

In [ ]:
# get the latest date and remove dates that are too low or too high and likely wrong
quality_features.loc[quality_features.year_built == '','year_built'] = NaN
quality_features.loc[quality_features.year_effective == '','year_effective'] = NaN
quality_features['year_built'] = map(float, quality_features.year_built)
quality_features['year_effective'] = map(float, quality_features.year_effective)
quality_features['year_effective_new'] = quality_features[['year_built', 'year_effective']].max(axis=1)
quality_features.loc[quality_features.year_effective_new < float(1880),'year_effective_new'] = NaN
quality_features.loc[quality_features.year_effective_new > float(2015),'year_effective_new'].year_effective_new = NaN

In [ ]:
# impute missing years with the median 
quality_features.loc[:,'year_effective_new'] = quality_features.year_effective_new.fillna(quality_features.year_effective_new.median())

In [ ]:
quality_features.drop('year_built', axis=1, inplace=True)
quality_features.drop('year_effective', axis=1, inplace=True)

In [ ]:
# let's review what we have
for c in quality_features.columns:
    print c, quality_features[c].unique()

# Dummy Features

In [ ]:
# get all the dummy features

qr1 = "select t1.ren_id, t1.ve_number, t2.urv_id, t1.ren_date_eff_from, t2.uvv_quality, t2.uvv_quantity from "
qr2 = " t1 left join valuation_entities_details t2 \
    on (t1.ve_number = t2.ve_number and t1.ren_date_eff_from > t2.uvv_date_eff_from ) \
    left join valuation_entities_details t3 \
    on (t2.ve_number = t3.ve_number and t2.urv_id = t3.urv_id and t2.urv_date_eff_from < t3.urv_date_eff_from) \
    left join valuation_entities_details t4 \
    on (t3.ve_number = t4.ve_number and t3.urv_id = t4.urv_id and t3.uvv_quantity < t4.uvv_quantity) \
    where t2.urv_ven_quality_ind like 'N' and t2.urv_ven_quantity_ind like 'N' \
    and t3.urv_date_eff_from is null "
qr3 = " order by ren_id, ve_number, urv_id, ren_date_eff_from, uvv_quantity desc;"

fullqr = qr1+' train '+qr2+' union all '+qr1+' test '+qr2+qr3

%time ve_dummy = pd.read_sql_query(fullqr, engine)
print len(ve_dummy.index)

In [ ]:
# drop duplicates
print len(ve_dummy.index)
ve_dummy.drop_duplicates(['ren_id', 've_number','urv_id'], keep='first', inplace=True)
print len(ve_dummy.index)

In [ ]:
ve_dummy[ve_dummy.uvv_quantity.notnull()].sort_values(by='uvv_quantity', ascending=False)[:10]

In [ ]:
dummy_quantity = ve_dummy[ve_dummy.uvv_quantity.notnull()].pivot('ren_id', 'urv_id', 'uvv_quantity')
dummy_quantity.iloc[:5]

In [ ]:
print dummy_quantity.shape

In [ ]:
# # remove pesky missing column names
# col_names = []
# for c in dummy_quantity.columns:
#     vvv = ve_key[ve_key.urv_id == c].urv_description.values[0]
#     if pd.isnull(vvv):
#         print 'found it! ', c
#         col_names.append('A'+str(i))
#     else:
#         col_names.append(vvv)

# # fix strings
# col_names = [s.replace(' ','_').replace('-','_').lower() for s in col_names]
# col_names = [s.encode('ascii','ignore') for s in col_names]
# col_names = [c.translate(None,'.()&?!;$/\\,') for c in col_names]
# print col_names
# # name the columns
# if len(col_names) == len(dummy_quantity.columns):
#     dummy_quantity.columns = col_names
# else:
#     raise # 'PROBLEM !!!!'
# dummy_quantity.iloc[:2]

In [ ]:
dummy_quantity = rename_columns(dummy_quantity)

In [ ]:
dummy_quantity.notnull().sum().sort_values(ascending=False)

In [ ]:
# let's select a count of features that is relevant
dummy_quantity_counts = dummy_quantity.count().sort_values(ascending=False)
good_dummy_quantity = dummy_quantity_counts[dummy_quantity_counts > 50]
print len(dummy_quantity.columns)
print len(good_dummy_quantity.index)

In [ ]:
dummy_quantity_final = dummy_quantity[good_dummy_quantity.index].copy()
dummy_quantity_final.iloc[:5]

In [ ]:
# inpute missing values
dummy_quantity_final = dummy_quantity_final.fillna(0)
dummy_quantity_final.iloc[:5]

In [ ]:
# did we really fillna ?
if dummy_quantity_final.isnull().sum().sum() != 0:
    raise Exception('Failed fillna')

In [ ]:
# We keep a dummy variable
ve_dummy.uvv_quality = '1'

dummy_quality = ve_dummy[ve_dummy.uvv_quantity.isnull()].pivot('ren_id', 'urv_id', 'uvv_quality')
dummy_quality.iloc[:5]

In [ ]:
print dummy_quality.shape

In [ ]:
# # remove pesky missing column names
# col_names = []
# for c in dummy_quality.columns:
#     vvv = ve_key[ve_key.urv_id == c].urv_description.values[0]
#     if pd.isnull(vvv):
#         print 'found it! ', c
#         col_names.append('A'+str(i))
#     else:
#         col_names.append(vvv)

# col_names = [s.encode('ascii','ignore') for s in col_names]
# col_names = [c.translate(None,'.()&?!;$/\\,') for c in col_names]
# col_names = [s.replace(' ','_').replace('-','_').lower() for s in col_names]
# print col_names
# # name the columns
# if len(col_names) == len(dummy_quality.columns):
#     dummy_quality.columns = col_names
# else:
#     raise # 'PROBLEM !!!!'
# dummy_quality.iloc[:2]

In [ ]:
dummy_quality = rename_columns(dummy_quality)

In [ ]:
# let's see what they look like
dummy_quality.count().sort_values(ascending=False)

In [ ]:
# NOTE: This bus_stop feature appears twice and may need to be dropped but is not a high count
print 'bus_stop: ', dummy_quality['bus_stop'].iloc[:,0].notnull().sum()
# remove the duplicate columns
dummy_quality.drop(['bus_stop'], axis=1, inplace=True)

In [ ]:
# let's select a count of features that is relevant
dummy_quality_counts = dummy_quality.count().sort_values(ascending=False)
good_dummy_quality = dummy_quality_counts[dummy_quality_counts > 50]
print dummy_quality.shape

In [ ]:
dummy_quality_final = dummy_quality[good_dummy_quality.index].copy()
print dummy_quality_final.columns.values

In [ ]:
# inpute missing values
dummy_quality_final = dummy_quality_final.fillna('0')

In [ ]:
dummy_quality_final[:10]

In [ ]:
# remove the columns in quality that are already reflected in quantity
dummy_overlap = set(dummy_quality_final.columns) & set(dummy_quantity_final.columns)
print dummy_overlap
for o in dummy_overlap:
    dummy_quality_final.drop(o, axis=1, inplace=True)
print set(dummy_quality_final.columns) & set(dummy_quantity_final.columns)

In [ ]:
# let's see if the deleted columns in quality are really in quantity
dummy_quantity_final.columns

In [ ]:
# let's review what we have
for c in dummy_quantity_final.columns:
    print c, dummy_quantity_final[c].unique()

# Demographics Features

In [ ]:
# get all the demographic features

qd1 = "select t1.ren_id, t1.ve_number, t3.lan_id, t3.lnp_pin, t3.sa1_7,  \
area_albers_sqm, gccsa_code_2011, sa2_5digitcode_2011, \
sa3_code_2011, sa4_code_2011, state_code_2011,  \
poacode, ra_code11, code, movie_titles, \
groups, groups_1, groups_2, \
predominant_lifestage, financial_status, worklife, area_wealth_dynamic, \
stability_indicator, featurecodegroup, feature_code  \
from "
qd2 = " t1 \
left join land_valuation_key t2 on (t1.ve_number = t2.ve_number) \
left join demographics_key t3 on (t2.lan_id = t3.lan_id) \
left join demographics t4 on (t3.sa1_7 = t4.sa1_7) "
qd3 = ";"

fullqd = qd1+' train '+qd2+' union all '+qd1+' test '+qd2+qd3

%time demo = pd.read_sql_query(fullqd, engine)
demo[:2]

In [ ]:
print len(demo.ren_id.unique())
print len(demo.index)

In [ ]:
# the sql query kept some duplicates (!?), so we delete them here.
print len(demo.index)
demo.drop_duplicates(['ren_id'], keep='last', inplace=True)
print len(demo.index)

In [ ]:
# how many values did we get?
demo.notnull().sum().sort_values(ascending=False)

In [ ]:
for c in demo.columns:
    valcnt = len(demo[c].unique())
    if valcnt < 15:
        vals = demo[c].unique()
    else:
        vals = demo[c][:5].values
    print c, valcnt, vals

In [ ]:
demo['area_albers_sqm'].sort_values().plot(use_index=False)

In [ ]:
log(demo['area_albers_sqm']).sort_values()[100000:].plot(use_index=False)

In [ ]:
# sa1_7 code description:
# http://www.abs.gov.au/ausstats/abs@.nsf/0/7CAFD05E79EB6F81CA257801000C64CD?opendocument

In [ ]:
# http://www.abs.gov.au/websitedbs/D3310114.nsf/home/remoteness+structure
# sa_code

In [ ]:
# and what are the unique values ? 
# for c in transform_cols:
#     print c, demo[c].unique()

In [ ]:
transform_cols = [u'movie_titles', u'groups', u'groups_1', u'groups_2', u'predominant_lifestage', u'financial_status',
                  u'worklife', u'area_wealth_dynamic', u'stability_indicator']

In [ ]:
# encode the categorical features
from sklearn import preprocessing
% time demo_encoded = demo[transform_cols].apply(preprocessing.LabelEncoder().fit_transform) 
demo_encoded[:4]

In [ ]:
# # and make the categoricals strings
# # TODO: use Pandas Categorical types?
%time demo_encoded = demo_encoded.apply(lambda y: ['A'+str(x) if pd.notnull(x) else x for x in y])
demo_encoded[:4]

In [ ]:
demo_categorical_features = ['sa2_5digitcode_2011', 'state_code_2011', 'poacode', 'sa1_7', 'feature_code', 
                              'sa4_code_2011', 'featurecodegroup','sa3_code_2011', 'ra_code11', 'code']

In [ ]:
# # categorical
# demo_cat = demo[demo_categorical_features].apply(lambda y: ['A'+str(int(x)) if pd.notnull(x) else x for x in y])
demo_cat = demo[demo_categorical_features]
demo_cat[:5]

In [ ]:
demo_orig_cols = list((set(demo.columns) - set(demo_encoded.columns)) - set(demo_cat.columns))
demo_orig_cols

In [ ]:
demo.columns

In [ ]:
# we should not have lost any rows by this point
print demo.shape
print demo_encoded.shape
print demo_cat.shape

In [ ]:
demo_all = pd.concat([demo[demo_orig_cols], demo_cat, demo_encoded], axis=1)
print demo_all.shape

In [ ]:
demo_all.drop('ve_number', axis=1,inplace=True)
demo_all.set_index('ren_id', inplace=True)
demo_all[:3]

# Land Features

In [ ]:
qe1 = "select distinct on (ren_id) ren_id, lan_id_type, lan_power, lan_water, lan_gas, lan_drainage, \
    lds_code, lds_name, sub_name, lan_lds_nubmer, lan_multiple_zoning_flag, lan_lst_code, \
    sub_postcode, urt_urban_rural_ind from " 
qe2 = " t1 left join land_valuation_key t2 on (t1.ve_number = t2.ve_number) \
    left join land t3 on (t2.lan_id = t3.lan_id) "

fullqe = qe1+' train '+qe2+' union all '+qe1+' test '+qe2+';'

%time land = pd.read_sql_query(fullqe, engine)
land[:2]

In [ ]:
if len(land.index) != len(train.index) + len(test.index):
    raise; # Something went wrong with the query
else:
    print len(land.index)

In [ ]:
# # make postcode categorical 
land['sub_postcode'] = ['P'+str(int(x)) if pd.notnull(x) else x for x in land.sub_postcode]
land[:2]

In [ ]:
land.sub_postcode

In [ ]:
land.set_index('ren_id', inplace=True)
land[:2]

In [ ]:
print land.shape
land.isnull().sum()

In [ ]:
# we only have 8 null's so we will leave them

# Classification Features

In [ ]:
qc1 = "select distinct on (ren_id) ren_id, t2.vec_cls_code, t2.cls_ve_use,  t3.cls_multi_res_ind from "
qc2 = " t1 \
    left join valuation_entities_classifications t2 \
    on (t1.ve_number = t2.ve_number and t1.ren_date_eff_from > t2.vec_date_eff_from) \
    left join valuation_entities_classifications t3 \
    on (t2.ve_number = t3.ve_number and t3.vec_date_eff_from > t2.vec_date_eff_from) "
qc3 = "group by t1.ren_id, t1.ve_number, t2.vec_cls_code, t2.cls_ve_use, t3.cls_multi_res_ind, t3.vec_date_eff_from ;"

fullqc = qc1+' train '+qc2+' union all '+qc1+' test '+qc2+qc3

%time classf = pd.read_sql_query(fullqc, engine)
classf[:2]

In [ ]:
if len(classf.index) != len(train.index) + len(test.index):
    raise;
else:
    print len(classf.index)

In [ ]:
classf.cls_ve_use.value_counts()

In [ ]:
classf[:10]

In [ ]:
# # make categorical 
classf['vec_cls_code'] = ['C'+str(int(x)) if pd.notnull(x) else x for x in classf.vec_cls_code]
classf[:2]

In [ ]:
classf.cls_multi_res_ind.unique()

In [ ]:
classf.set_index('ren_id', inplace=True)
classf[:2]

In [ ]:
print classf.shape
classf.isnull().sum()

In [ ]:
# impute 
classf.loc[classf.cls_multi_res_ind.isnull(),'cls_multi_res_ind'] = 'N'

# Derived Features

In [ ]:
# impute ren_lease_length
def impute_rent(df, col):
    df[col].replace('^12[a-zA-Z0-9_+ &]*','12m', regex=True, inplace=True)
    df[col].replace('^6[a-zA-Z0-9_+ &]*','6m', regex=True, inplace=True)
    df[col].replace('^52[a-zA-Z0-9_+ &]*','12m', regex=True, inplace=True)
    df[col].replace('^1 year[a-zA-Z0-9_+ &]*','12m', regex=True, inplace=True)
    df[col].replace('^1year[a-zA-Z0-9_+ &]*','12m', regex=True, inplace=True)
    df[col].replace('^18[a-zA-Z0-9_+ &]*','18m', regex=True, inplace=True)
    df[col].replace('^24[a-zA-Z0-9_+ &]*','24m', regex=True, inplace=True)
    df[col].replace('^2yr[a-zA-Z0-9_+ &]*','24m', regex=True, inplace=True)
    df[col].replace('^3yr[a-zA-Z0-9_+ &]*','36m', regex=True, inplace=True)
    df[col].replace('','12m', regex=True, inplace=True)
    df.loc[:,col] = df[col].fillna('12m')
    # throw out the rest
    bad_lease = df[col].value_counts()[7:].index
    for s in bad_lease.values :
        df[col].replace(s,'12m', inplace=True)
    return

In [ ]:
# make sure there are no overlapping rents
if (set(train.index) & set(test.index)) != set():
    raise Exception("can't really append these df!")

In [ ]:
allset = train.append(test)
if len(allset) != (len(train) + len(test)):
    raise # Failure in append

allset[:2]

In [ ]:
len(set(train.index) & set(allset.index))

In [ ]:
allset.ren_lease_length.unique()

In [ ]:
impute_rent(allset,'ren_lease_length')

In [ ]:
allset.ren_lease_length.value_counts()

In [ ]:
# create a rent year
allset.ren_date_eff_from = pd.to_datetime(allset.ren_date_eff_from)
allset['rent_year'] = pd.PeriodIndex(allset.ren_date_eff_from, freq='A-DEC')

# Get the last rental rate

In [ ]:
qlast = "select distinct on (ren_id) t1.ren_id, t1.ve_number, t1.ren_date_eff_from, \
    t2.ren_date_eff_from as ren_date_last, t2.ren_base_rent as last_rent from train t1 \
    left join train t2 on (t1.ve_number = t2.ve_number and t1.ren_date_eff_from > t2.ren_date_eff_from) \
    order by ren_id, t2.ren_date_eff_from desc;"

%time train_last_rent = pd.read_sql_query(qlast, engine)')
print train_last_rent.shape
train_last_rent[:10]

In [ ]:
train_last_rent[train_last_rent.ve_number == 117993]

In [ ]:
# from test
qtlast = "select distinct on (ren_id) t1.ren_id, t1.ve_number, t1.ren_date_eff_from, \
    t2.ren_date_eff_from, t2.ren_base_rent as ren_date_last from test t1 \
    left join train t2 on (t1.ve_number=t2.ve_number and t1.ren_date_eff_from > t2.ren_date_eff_from) \
    order by ren_id, t2.ren_date_eff_from desc ;"

%time test_last_rent = pd.read_sql_query(qtlast, engine)
print last_rent.shape
test_last_rent[:5]

In [ ]:
test_last_rent[test_last_rent.ve_number == 4192974]

In [ ]:
train_last_rent.to_csv('train12_last_rent.csv', index=False)
test_last_rent.to_csv('test12_last_rent.csv', index=False)

# Big Merge

In [ ]:
# so how many columns do we have?
allcols =  len(allset.columns) + len(demo_all.columns) + len(quantity_features.columns) + len(quality_features.columns) + \
    len(dummy_quantity_final.columns) + len(dummy_quality_final.columns) + len(land.columns) + \
    len(classf.columns)
allcols

In [ ]:
# merge into one big table
allup = pd.concat([allset, demo_all, quantity_features, quality_features, dummy_quantity_final, dummy_quality_final, 
           land, classf], axis=1, join_axes=[allset.index])

print allset.shape, allup.shape
if (len(allset.index) != len(allup.index)) | (len(allup.columns) != allcols):
    raise Exception('Not sure this merge is good')

In [ ]:
allup[:5]

In [ ]:
# we need to re-impute all the new rows!

allup.loc[:,quantity_features.columns] = allup.loc[:,quantity_features.columns].fillna(0)
allup.loc[:,quality_features.columns] = allup.loc[:,quality_features.columns].fillna('0')
allup.loc[:,dummy_quantity_final.columns] = allup.loc[:,dummy_quantity_final.columns].fillna(0)
allup.loc[:,dummy_quality_final.columns] = allup.loc[:,dummy_quality_final.columns].fillna('0')
allup.loc[allup.cls_multi_res_ind.isnull(),'cls_multi_res_ind'] = 'N'

In [ ]:
allup.columns.values

# Compare train and test sets

In [ ]:
# split train and test again
train_big = allup.loc[train.index]
test_big = allup.loc[test.index]

In [ ]:
len(set(train.index) & set(allup.index))

In [ ]:
test_big.shape

In [ ]:
train_big[:2]

In [ ]:
train_big.ren_date_eff_from.groupby(train_big.ren_date_eff_from.dt.year).count().plot(kind='bar', figsize=(10,7))

In [ ]:
test.ren_date_eff_from.groupby(test.ren_date_eff_from.dt.year).count().plot(kind='bar', figsize=(10,7))

In [ ]:
# do we have data on any property rented more than once ?  No.
# double checking above: all ren_id's are unique
len(train.index) == len(train.index.unique())

In [ ]:
len(train_big.lan_id.unique()) / len(train_big.index)

In [ ]:
len(test_big.lan_id.unique()) / len(test_big.index)

In [ ]:
# is the financial status in line?
fin_status = pd.DataFrame([train_big.financial_status.value_counts(), test_big.financial_status.value_counts()])
fin_status.T

In [ ]:
# how many places don't overlap?
print 'train: ', len(set(train_big.lnp_pin.unique()) - set(test_big.lnp_pin.unique()))
print 'test: ', len(set(test_big.lnp_pin.unique()) - set(train_big.lnp_pin.unique()))

In [ ]:
# do the ve_numbers overlap?
len(set(train_big.ve_number.unique()) & set(test_big.ve_number.unique()))

# Remove outliers

In [ ]:
# throw out unecessary columns / features
allsub = allup.copy()
allsub.shape

In [ ]:
if len(set(train.index) & set(allsub.index)) != len(train.index):
    raise Exception('bad stuff happened to the allsub index')

In [ ]:
allup[:10]

In [ ]:
# thow out all rents older than 2001
allsub = allsub[(allsub.ren_date_eff_from > pd.datetime(2000,12,31))]
allsub.shape

In [ ]:
train_trim = train[(train.ren_date_eff_from > pd.datetime(2000,12,31))]

In [ ]:
if len(set(train_trim.index) & set(allsub.index)) != len(train_trim.index):
    raise Exception('bad stuff happened to the allsub index')

In [ ]:
allsub.ren_base_rent.plot(use_index=False)

In [ ]:
allsub.sort_values(by='ren_base_rent', ascending=False).ren_base_rent[:30]

In [ ]:
# drop bad rents
maxrent = 5000
print allsub.shape
bad_rents = allsub[allsub.ren_base_rent > maxrent].index
print len(bad_rents)
allsub.drop(bad_rents, inplace=True)
train_trim = train_trim[train_trim.ren_base_rent < maxrent]
print allsub.shape

In [ ]:
if len(set(train_trim.index) & set(allsub.index)) != len(train_trim.index):
    raise Exception('bad stuff happened to the allsub index')

In [ ]:
# shift rents over 7 years - no, don't
# m = (29.656 / (10*12)) 
# b = 110
# from_date = pd.datetime(2001,1,1)
# to_date = pd.datetime(2008,1,1)
# the_delta = to_date - from_date
# years = int(the_delta.days / 365)
# changeidx = train2_overlap[train2_overlap.ren_date_eff_from < to_date].index
# orig_dates = train2_overlap.ren_date_eff_from.copy()  # keep a copy, just in case
# train2_overlap.ix[changeidx].ren_base_rent = (train2_overlap.ix[changeidx].ren_base_rent * years * m) + b
# train2_overlap.ix[changeidx,'ren_date_eff_from'] = train2_overlap.ix[changeidx].ren_date_eff_from + the_delta

In [ ]:
# make sure the dates moved
# [y for y, g in train2_overlap.ix[changeidx].ren_date_eff_from.groupby(train2_overlap.ix[changeidx].ren_date_eff_from.dt.year)]

In [ ]:
# and look at the rent distribution
allsub.ren_date_eff_from.groupby(allsub.ren_date_eff_from.dt.year).count()

In [ ]:
# look at kitchen values
allsub.kitchen.value_counts()

In [ ]:
# fix all the rows with more than 4 kitchens ! 
allsub.loc[allsub.kitchen > 5,'kitchen'] = 4.0

In [ ]:
allsub.lounge_room.value_counts()

In [ ]:
# fix all the rows with more than 4 lounge rooms ! 
allsub.loc[allsub.lounge_room > 5,'lounge_room'] = 4.0

In [ ]:
col_counts = []
for c in allsub.columns.values:
    col_counts.append([c, allsub[c].notnull().sum()])

col_counts = pd.DataFrame(col_counts, columns=['feature', 'howmany'])
col_counts.sort_values(by='howmany', ascending=False)

In [ ]:
quantity_features.columns

In [ ]:
allsub.sort_values(by='house_area').house_area.plot(use_index=False)

In [ ]:
allsub.sort_values(by='house_area', ascending=False).house_area[:11]

In [ ]:
allsub.loc[train.index][allsub.loc[train.index].house_area > 5000].house_area

In [ ]:
test.loc[640530]

In [ ]:
# some of these house areas are in the test set, so I think they are fine.

# Generate rent estimates
Find the mean of area rents per year, and the rent that is a comprable

In [ ]:
if len(set(train_trim.index) & set(allsub.index)) != len(train_trim.index):
    raise Exception('bad stuff happened to the allsub index')

In [ ]:
# load mean_rents
mean_rents = pd.read_csv('mean_rents_per_year.csv')
mean_rents.rent_year = pd.PeriodIndex(mean_rents.rent_year, freq='A-DEC')
mean_rents = mean_rents[mean_rents.rent_year > pd.Period(2008, freq='A-DEC') ]
mean_rents.set_index('rent_year', inplace=True)
mean_rents

In [ ]:
# # Generate the mean_rent per sa4_code_2011 table if we could not load it previously

# zips = allsub.sa4_code_2011.unique()
# zips.sort()
# years = pd.period_range('2000', '2015', freq='A')
# rent_sa4 = pd.DataFrame(columns=zips, index=years)
# rent_sa4.index.name = 'date'
# rent_years = allsub[['ren_base_rent', 'rent_year', 'sa4_code_2011']]
# mean_rents = rent_years.groupby(['rent_year', 'sa4_code_2011'])['ren_base_rent'].mean()
# mean_rents = mean_rents.unstack() #['year', 'sa4_code_2011'])
# mean_rents = mean_rents.fillna(axis='index', method='bfill')
# mean_rents = mean_rents.fillna(axis='index', method='ffill')
# mean_rents

In [ ]:
# # if we have stripped all categorical strings, then we need to strip the zip_code strings
mean_rents.columns = [int(x[1:]) for x  in mean_rents.columns ]
mean_rents.columns

In [ ]:
# this took a while
print 'starting:', pd.datetime.now()
for a in mean_rents.columns: # for every zip
    for y in mean_rents.index: # for every year
        allsub.loc[((allsub.rent_year == y) & (allsub.sa4_code_2011 == a)), 'sa4_mean_rent'] = mean_rents.loc[y,a]
    print a, pd.datetime.now()

In [ ]:
mean_rents.to_csv('mean_rents_per_year_12.csv')
allsub.sa4_mean_rent.to_csv('sa4_mean_rent_12.csv')

In [ ]:
allsub[allsub.sa4_mean_rent.notnull()].sa4_mean_rent[:40]

In [ ]:
allsub['log_sa4_mean_rent'] = log(allsub.sa4_mean_rent)

In [ ]:
allsub['sa4_mean_rent_rooms'] = allsub.sa4_mean_rent / allsub.effective_rooms

In [ ]:
# DONE !!!

In [ ]:
# one last look at all features and value ranges

df = allsub
print df.shape
for c in df.columns:
    valcnt = len(df[c].unique())
    vals = df[c].unique()[:10]
    print c, valcnt, vals

# More Cleanup

In [ ]:
allsub.storey.unique()

In [ ]:
allsub[allsub.storey > 3][['ve_number','storey']].sort_values(by='storey', ascending=False)[:10]

In [ ]:
# arbirtrarily cut off the high end
# TODO: move this up to quantity_features
quantity_features.loc[quantity_features.storey > 11,'storey'] = 10
allsub.loc[allsub.storey > 11,'storey'] = 10

In [ ]:
allsub[allsub.toilet > 4][['ve_number','toilet']].sort_values(by='toilet', ascending=False)[:10]

In [ ]:
# arbirtrarily cut off the high end
# TODO: a better way is to cap this at max(bath_room)
# move this up to quantity_features
quantity_features.loc[quantity_features.toilet > 9,'toilet'] = 9
allsub.loc[allsub.toilet > 9,'toilet'] = 9

In [ ]:
allsub[allsub.bath_room > 4][['ve_number','bath_room']].sort_values(by='bath_room', ascending=False)[:10]

In [ ]:
allsub[allsub.ensuite > 4][['ve_number','ensuite']].sort_values(by='ensuite', ascending=False)[:10]

In [ ]:
# drop the ramaining bad rooms from the train set
remaining_bad_rooms = list(set(bad_train_rooms.index).intersection(allsub.index))
allsub.drop(remaining_bad_rooms, inplace=True)
print len(remaining_bad_rooms)

In [ ]:
# ensuite should be capped at max(bedrooms)

# OUTPUT

In [ ]:
# clear up some space, we are going to need it
import gc
gc.collect()

In [ ]:
# split train and test again
train_final = allsub.loc[train_trim.index].copy()
test_final = allsub.loc[test.index].copy()

In [ ]:
print train_final.shape
train_final.to_csv('train12.csv')

In [ ]:
# # throw out anything older than 2004
# print train_final.shape
# train_final = train_final[train_final.ren_date_eff_from > pd.datetime(2003,12,31)]
# print train_final.shape
# train_final.to_csv('train12_2004.csv')

In [ ]:
# # reduce the data set to overlapping lnp_pin's 
# overlap_lnp_pin = set(train_final.lnp_pin.unique()) & set(test_final.lnp_pin.unique())
# train_final = train_final[train_final.lnp_pin.isin(overlap_lnp_pin)]
# print train_final.shape
# train_final.to_csv('rent_train12_2004_lnp.csv')

In [ ]:
print allsub.shape
print train_final.shape
print test_final.shape

In [ ]:
allsub.to_csv('allsub12.csv')

In [ ]:
test_final.to_csv('test12.csv')

In [ ]:
end_time = pd.datetime.now()
elapsed_time = end_time - start_time
print elapsed_time